*{
    box-sizing: border-box;
}

.wholeBox{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.heading{
    align-items: center;
    margin-left: -50px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #333333;
}

.ulClass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width :70vh;
    height: 35px;
    margin-top: 55px;
}

.li{
    font-family: 'Montserrat';
    font-weight: 700;
    margin-left: 30px;
    list-style-type: none;
    font-size: 21px;
    margin-bottom: -16px;
}
.line {
    width: 635px;
    height: 0px;
    left: 414px;
    margin-left: 45px;
    top: 168px;
    margin-top: -11px;
    border: 1px solid #BDBDBD;
    
}

#all{
    border-bottom:5px solid  white;
    border-radius: 4px 4px 0px 0px;
    width: 100px;
    height: 60px;
    padding-left: 35px;
    margin-top: -31px;
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
#active{
    border-bottom:5px solid white;
    border-radius: 4px 4px 0px 0px;
    width: 100px;
    height: 60px;
    padding-top: 20px;
    padding-left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: -31px;
}
#completed{
    border-bottom:5px solid  white;
    border-radius: 4px 4px 0px 0px;
    width: 115px;
    padding-top: 20px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    padding-left: 25px;
    margin-top: -31px;
}
#inputContainer{
    width: 476px;
    height: 56px;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
}

.input{
    width: 50vh;
    margin: 15px;
    height: 60px;
    border-width:2px;
    padding-left: 10px;
    border-radius: 12px;

}

input:hover{
    border: 2px solid blue;
}

.addButtonClass{
    font-family: 'Montserrat';
    font-weight: 700;
    height: 60px;
    width: 15vh;
    background: #2F80ED;
    box-shadow: 0px 2px 6px rgba(120, 170, 240, 0.4);
    border-radius: 15px;
    border-width: 0px;
    font-size: 15px;
    color: white;
    margin-left: 10px;
}
#box{
    margin-left: 25px;
}

.checkbox{
    height:25px; 
    width:25px;
    margin-left: 15px;
    border-radius: 10px;
    border-width: 2px solid;
}

.createdContainer{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
} 

.labelElement{
    font-family: 'Montserrat';
    font-weight: 500;
    margin-left: 10px;
    font-size: 22px;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

}

.text{
    text-decoration: line-through;
}

.buttonImg{
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.deleteButtonContainer{
    display: flex;
    justify-content: end;
}

.deleteButton{
    font-family: 'Montserrat';
    display:none;
    height: 40px;
    width:auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 0px 30px;
    background: #EB5757;
    border-radius: 7px;
}
.hidden{
    visibility: hidden;
}


